body {
  background-color: #ACE5EE;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-family: monospace;
  margin-top: 1.5rem;
  color: black;
}

h3 {
  text-align: center;
  font-size: 3rem;
  color: grey;
  font-family: monospace;
  margin-top: 5rem;
}

footer {
  text-align: center;
  font-family: monospace;
  font-weight: bold;
}

.container {
  display: block;
  margin: 10px;
  margin-left: 30%;
}

@media (max-width: 600px) {
  .container {
    display: block;
    margin: auto;
    width: 50%;
  }
}

.btn {
  margin: 25px;
  display: inline-block;
  border-radius: 20%;
  border: solid 10px;
  height: 200px;
  width: 200px;
}

.green {
  background-color: #A7FC00;
}

.magenta {
  background-color: #FF00FF;
}

.red {
  background-color: #E30B5C;
}

.blue {
  background-color: #1E90FF;
}
